@media only screen and (min-width:1920px ) { // 兼容1440px,写在这个位置是因为，既能继承@media only screen and (max-width:1563px )的样式，又能覆盖以下样式
  .dashboard{
      border: 1px solid red;
      height: 87vh;
  }
  .container {
      border: 1px solid greenyellow;
      height: 93%;
  }
  #sys-role,#sys-user,#menu,#resource,
  .dept,.staff,
  #otapply,#ecapply,#attendance,#overtime,#shift,#class,#holiday,#nddevice,#madevice,#onduty,#unquality
  {
    .el-table{
      height:83% !important;
    }
  }
  #ntahl,#worksche{
    .el-table{
      height: 73% !important;
    }
  }
}
@media only screen and (min-width:1680px ) and (max-width:1919px ){ // 兼容1400px,写在这个位置是因为，既能继承@media only screen and (max-width:1563px )的样式，又能覆盖以下样式
  .dashboard{
    border: 1px solid red;
    height: 86.5vh;
}
.container {
    border: 1px solid greenyellow;
    height: 92%;
}
  #sys-role,#sys-user,#menu,#resource,
  .dept,.staff,
  #otapply,#ecapply,#attendance,#overtime,#shift,#class,#holiday,#nddevice,#madevice,#onduty,#unquality
  {
    .el-table{
      height:73.5% !important;
    }
  }
  #ntahl,#worksche{
    .el-table{
      height: 78% !important;
    }
  }
}
@media only screen and (min-width:1600px ) and (max-width:1679px ){ // 兼容1400px,写在这个位置是因为，既能继承@media only screen and (max-width:1563px )的样式，又能覆盖以下样式
  .dashboard{
    border: 1px solid red;
    height: 83vh;
}
.container {
    border: 1px solid greenyellow;
    height: 92%;
}
  #sys-role,#sys-user,#menu,#resource,
  .dept,.staff,
  #otapply,#ecapply,#attendance,#overtime,#shift,#class,#holiday,#nddevice,#madevice,#onduty,#unquality
  {
    .el-table{
      height:67% !important;
    }
  }
  #ntahl,#worksche{
    .el-table{
      height: 78% !important;
    }
  }
}
@media only screen and (min-width:1366px ) and (max-width:1599px ){ // 兼容1400px,写在这个位置是因为，既能继承@media only screen and (max-width:1563px )的样式，又能覆盖以下样式
  .dashboard{
    border: 1px solid red;
    height: 80.5vh;
}
.container {
    border: 1px solid greenyellow;
    height: 88%;
}
  #sys-role,#sys-user,#menu,#resource,
  .dept,.staff,
  #otapply,#ecapply,#attendance,#overtime,#shift,#class,#holiday,#nddevice,#madevice,#onduty,#unquality
  {
    .el-table{
      height:71% !important;
    }
  }
  #ntahl,#worksche{
    .el-table{
      height: 78% !important;
    }
  }
  .staff .demo-form-inline{
    .el-input__inner{
      width: 10rem !important;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner {
      width: 10rem;
  }
  }
}