@media only screen and (min-width:1920px ) { // 兼容1440px,写在这个位置是因为，既能继承@media only screen and (max-width:1563px )的样式，又能覆盖以下样式
  .dashboard{
      height: 87vh;
  }
  .container {
      height: 93%;
  }
  .container>.el-table{height:calc(100% - 30px - 44px)!important;}
  #worksche>.container>.el-table{height:calc(100% - 120px - 40px)!important;}
  .el-dialog>.el-table{height: 100% !important;}
}
@media only screen and (min-width:1680px ) and (max-width:1919px ){ // 兼容1400px,写在这个位置是因为，既能继承@media only screen and (max-width:1563px )的样式，又能覆盖以下样式
  .dashboard{
    height: 86.5vh;
}
.container {
    height: 92%;
}
.container>.el-table{height:calc(100% - 30px - 44px)!important;}
#worksche>.container>.el-table{height:calc(100% - 240px - 40px)!important;}
.el-dialog>.el-table{height: 100% !important;}
}
@media only screen and (min-width:1600px ) and (max-width:1679px ){ // 兼容1400px,写在这个位置是因为，既能继承@media only screen and (max-width:1563px )的样式，又能覆盖以下样式
  .dashboard{
    height: 83vh;
}
.container {
    height: 92%;
}
.container>.el-table{height:calc(100% - 30px - 44px)!important;}
#worksche>.container>.el-table{height:calc(100% - 120px - 40px)!important;}
.el-dialog>.el-table{height: 100% !important;}
}
@media only screen and (min-width:1366px ) and (max-width:1599px ){ // 兼容1400px,写在这个位置是因为，既能继承@media only screen and (max-width:1563px )的样式，又能覆盖以下样式
  .dashboard{
    height: 80.5vh;
}
.container {
    height: 89%;
}
.el-table td, .el-table th {
  padding: 4px 0;
}
.handle-box .el-input {width: 150px;}
.container>.el-table{height:calc(100% - 30px - 44px)!important;}
#worksche>.container>.el-table{
  height:calc(100% - 85px - 73px)!important;
  .cell{
    padding-left: 2px !important;
    padding-right: 2px !important; 
  }
  }
.el-dialog>.el-table{height: 100% !important;}
}
@media only screen and (max-width:1365px ){ // 兼容1400px,写在这个位置是因为，既能继承@media only screen and (max-width:1563px )的样式，又能覆盖以下样式
  .dashboard{
    height: 80.5vh;
}
.container {
    height: 88%;
}
.container>.el-table{height:calc(100% - 30px - 44px)!important;}
#worksche>.container>.el-table{height:calc(100% - 120px - 40px)!important;}
.el-dialog>.el-table{height: 100% !important;}
}